<div>
  <a href='mailto: contactus@sravz.com'>Apply Via Eamil </a>
  <form action='https://formspree.io/mjvegbqg' method='POST' enctype='multipart/form-data'>
    <div class="form-group">
      <label for="email">Email address</label>
      <input type="email" class="form-control" id="email" name='_replyto' aria-describedby="emailHelp">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
      <label for="subject">Subject:</label>
      <input class="form-control" name='_subject' id="subject">
    </div>
    <div class="form-group">
      <label for="message">Message:</label>
      <textarea class="form-control" name='message' id="message"></textarea>
    </div>
    <div class="form-group">
        <label>Resume:<input type='file' name='upload'></label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</div>