---
layout: default
---

{{ content }}

<div>
    <a href = 'mailto: contactus@sravz.com'>Apply</a>
    <form
    action='https://formspree.io/mjvegbqg' method='POST' enctype='multipart/form-data'>
    <label> Subject: <input type='text' name='_subject'> </label>
    <label>
      Message:
      <textarea name='message'></textarea>
    </label>
    <label> Your email: <input type='text' name='_replyto'> </label>
    <label>  file: <input type='file' name='upload'> </label>
    <button type='submit' >Send</button>
    </form>
</div>

{%- if site.disqus.shortname -%}
{%- include disqus_comments.html -%}
{%- endif -%}